.container{
  margin-left: -30px;
}

.pagination{
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 850px;
  padding-left: -30px;
}

.page__number{
    list-style-type: none;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.page__link{
    padding: 2px;
    cursor: pointer;
    font-size: 20px;
}