.input__container {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  }

.input {
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  border: 1px solid #dfe8ef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}
  
.input__error {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee3465;
  margin: 0;
  margin-bottom: 6px;
  min-height: 12px;
  margin-left: 6px;
  margin-top: 6px;
  }